body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #C6CFD3;
}

.header {
    display: flex;
    align-items: center;
    background-color: #c21c34;
    padding: 10px 20px;
    border-bottom: 10px solid #180508;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: #290000;
}

.logo {
    width: 60px; 
    height: auto;
    margin-right: 15px;
    border-radius: 80px;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
}
.login-container {
    background-color: #b4b8ba;
    padding: 20px;
    border-radius: 8px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 40px auto;
    border-color: #0d0909; 
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #0d0909;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #302d2d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #212121;
}